<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vas.sys.organization.mapper.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.vas.sys.organization.pojo.SysDept">
    <id column="fd_id" jdbcType="VARCHAR" property="fdId" />
    <result column="fd_name" jdbcType="VARCHAR" property="fdName" />
    <result column="fd_type" jdbcType="VARCHAR" property="fdType" />
    <result column="fd_parent_id" jdbcType="VARCHAR" property="fdParentId" />
    <result column="fd_major_id" jdbcType="VARCHAR" property="fdMajorId" />
    <result column="fd_minor_id" jdbcType="VARCHAR" property="fdMinorId" />
    <result column="fd_child_count" jdbcType="VARCHAR" property="fdChildCount" />
    <result column="fd_order" jdbcType="INTEGER" property="fdOrder" />
    <result column="fd_bak_1" jdbcType="VARCHAR" property="fdBak1" />
    <result column="fd_bak_2" jdbcType="VARCHAR" property="fdBak2" />
    <result column="doc_order" jdbcType="BIGINT" property="docOrder" />
    <result column="doc_creator_id" jdbcType="VARCHAR" property="docCreatorId" />
    <result column="doc_alteror_id" jdbcType="VARCHAR" property="docAlterorId" />
    <result column="doc_create_time" jdbcType="TIMESTAMP" property="docCreateTime" />
    <result column="doc_alter_time" jdbcType="TIMESTAMP" property="docAlterTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_dept
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.vas.sys.organization.pojo.SysDept">
    insert into sys_dept (fd_id, fd_name, fd_type, 
      fd_parent_id, fd_major_id, fd_minor_id, 
      fd_child_count, fd_order, fd_bak_1, 
      fd_bak_2, doc_order, doc_creator_id, 
      doc_alteror_id, doc_create_time, doc_alter_time
      )
    values (#{fdId,jdbcType=VARCHAR}, #{fdName,jdbcType=VARCHAR}, #{fdType,jdbcType=VARCHAR}, 
      #{fdParentId,jdbcType=VARCHAR}, #{fdMajorId,jdbcType=VARCHAR}, #{fdMinorId,jdbcType=VARCHAR}, 
      #{fdChildCount,jdbcType=VARCHAR}, #{fdOrder,jdbcType=INTEGER}, #{fdBak1,jdbcType=VARCHAR}, 
      #{fdBak2,jdbcType=VARCHAR}, #{docOrder,jdbcType=BIGINT}, #{docCreatorId,jdbcType=VARCHAR}, 
      #{docAlterorId,jdbcType=VARCHAR}, #{docCreateTime,jdbcType=TIMESTAMP}, #{docAlterTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.vas.sys.organization.pojo.SysDept">
    update sys_dept
    set fd_name = #{fdName,jdbcType=VARCHAR},
      fd_type = #{fdType,jdbcType=VARCHAR},
      fd_parent_id = #{fdParentId,jdbcType=VARCHAR},
      fd_major_id = #{fdMajorId,jdbcType=VARCHAR},
      fd_minor_id = #{fdMinorId,jdbcType=VARCHAR},
      fd_child_count = #{fdChildCount,jdbcType=VARCHAR},
      fd_order = #{fdOrder,jdbcType=INTEGER},
      fd_bak_1 = #{fdBak1,jdbcType=VARCHAR},
      fd_bak_2 = #{fdBak2,jdbcType=VARCHAR},
      doc_order = #{docOrder,jdbcType=BIGINT},
      doc_creator_id = #{docCreatorId,jdbcType=VARCHAR},
      doc_alteror_id = #{docAlterorId,jdbcType=VARCHAR},
      doc_create_time = #{docCreateTime,jdbcType=TIMESTAMP},
      doc_alter_time = #{docAlterTime,jdbcType=TIMESTAMP}
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select fd_id, fd_name, fd_type, fd_parent_id, fd_major_id, fd_minor_id, fd_child_count, 
    fd_order, fd_bak_1, fd_bak_2, doc_order, doc_creator_id, doc_alteror_id, doc_create_time, 
    doc_alter_time
    from sys_dept
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select fd_id, fd_name, fd_type, fd_parent_id, fd_major_id, fd_minor_id, fd_child_count, 
    fd_order, fd_bak_1, fd_bak_2, doc_order, doc_creator_id, doc_alteror_id, doc_create_time, 
    doc_alter_time
    from sys_dept
  </select>
</mapper>