.body {
    padding: 10px;
}
#form .layui-input-block{
    color: #7a7a7a;
}
#form .layui-form-label{
    width: 200px;
}
#form .layui-input-block{
    left: 89px;
    top: -80px;
}
#form .layui-form-label{
    height: 80px;
    line-height: 68px;
}