<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vas.blog.mapper.BlogMainCateMapper">
  <resultMap id="BaseResultMap" type="com.vas.blog.pojo.BlogMainCate">
    <id column="fd_id" jdbcType="VARCHAR" property="fdId" />
    <result column="fd_name" jdbcType="VARCHAR" property="fdName" />
    <result column="fd_parent_id" jdbcType="VARCHAR" property="fdParentId" />
    <result column="doc_order" jdbcType="BIGINT" property="docOrder" />
    <result column="doc_creator_id" jdbcType="VARCHAR" property="docCreatorId" />
    <result column="doc_alteror_id" jdbcType="VARCHAR" property="docAlterorId" />
    <result column="doc_create_time" jdbcType="TIMESTAMP" property="docCreateTime" />
    <result column="doc_alter_time" jdbcType="TIMESTAMP" property="docAlterTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from blog_main_cate
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.vas.blog.pojo.BlogMainCate">
    insert into blog_main_cate (fd_id, fd_name, fd_parent_id, 
      doc_order, doc_creator_id, doc_alteror_id, 
      doc_create_time, doc_alter_time)
    values (#{fdId,jdbcType=VARCHAR}, #{fdName,jdbcType=VARCHAR}, #{fdParentId,jdbcType=VARCHAR}, 
      #{docOrder,jdbcType=BIGINT}, #{docCreatorId,jdbcType=VARCHAR}, #{docAlterorId,jdbcType=VARCHAR}, 
      #{docCreateTime,jdbcType=TIMESTAMP}, #{docAlterTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.vas.blog.pojo.BlogMainCate">
    update blog_main_cate
    set fd_name = #{fdName,jdbcType=VARCHAR},
      fd_parent_id = #{fdParentId,jdbcType=VARCHAR},
      doc_order = #{docOrder,jdbcType=BIGINT},
      doc_creator_id = #{docCreatorId,jdbcType=VARCHAR},
      doc_alteror_id = #{docAlterorId,jdbcType=VARCHAR},
      doc_create_time = #{docCreateTime,jdbcType=TIMESTAMP},
      doc_alter_time = #{docAlterTime,jdbcType=TIMESTAMP}
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select fd_id, fd_name, fd_parent_id, doc_order, doc_creator_id, doc_alteror_id, doc_create_time, 
    doc_alter_time
    from blog_main_cate
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select fd_id, fd_name, fd_parent_id, doc_order, doc_creator_id, doc_alteror_id, doc_create_time, 
    doc_alter_time
    from blog_main_cate
  </select>
</mapper>