<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vas.sys.common.mapper.SysConfigMapper" >
  <resultMap id="BaseResultMap" type="com.vas.sys.common.pojo.SysConfig" >
    <id column="fd_id" property="fdId" jdbcType="VARCHAR" />
    <result column="fd_type" property="fdType" jdbcType="VARCHAR" />
    <result column="fd_locked" property="fdLocked" jdbcType="VARCHAR" />
    <result column="fd_value" property="fdValue" jdbcType="VARCHAR" />
    <result column="fd_bak_1" property="fdBak1" jdbcType="VARCHAR" />
    <result column="fd_bak_2" property="fdBak2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fd_id, fd_type, fd_value, fd_bak_1, fd_bak_2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_config
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_config
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.vas.sys.common.pojo.SysConfig" >
    insert into sys_config (fd_id, fd_locked, fd_type, fd_value,
      fd_bak_1, fd_bak_2)
    values (#{fdId,jdbcType=VARCHAR}, #{fdLocked,jdbcType=VARCHAR}, #{fdType,jdbcType=VARCHAR}, #{fdValue,jdbcType=VARCHAR},
      #{fdBak1,jdbcType=VARCHAR}, #{fdBak2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vas.sys.common.pojo.SysConfig" >
    insert into sys_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fdId != null" >
        fd_id,
      </if>
      <if test="fdType != null" >
        fd_type,
      </if>
      <if test="fdValue != null" >
        fd_value,
      </if>
      <if test="fdBak1 != null" >
        fd_bak_1,
      </if>
      <if test="fdBak2 != null" >
        fd_bak_2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fdId != null" >
        #{fdId,jdbcType=VARCHAR},
      </if>
      <if test="fdType != null" >
        #{fdType,jdbcType=VARCHAR},
      </if>
      <if test="fdValue != null" >
        #{fdValue,jdbcType=VARCHAR},
      </if>
      <if test="fdBak1 != null" >
        #{fdBak1,jdbcType=VARCHAR},
      </if>
      <if test="fdBak2 != null" >
        #{fdBak2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_config
    <set >
      <if test="record.fdId != null" >
        fd_id = #{record.fdId,jdbcType=VARCHAR},
      </if>
      <if test="record.fdType != null" >
        fd_type = #{record.fdType,jdbcType=VARCHAR},
      </if>
      <if test="record.fdValue != null" >
        fd_value = #{record.fdValue,jdbcType=VARCHAR},
      </if>
      <if test="record.fdBak1 != null" >
        fd_bak_1 = #{record.fdBak1,jdbcType=VARCHAR},
      </if>
      <if test="record.fdBak2 != null" >
        fd_bak_2 = #{record.fdBak2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_config
    set fd_id = #{record.fdId,jdbcType=VARCHAR},
      fd_type = #{record.fdType,jdbcType=VARCHAR},
      fd_value = #{record.fdValue,jdbcType=VARCHAR},
      fd_bak_1 = #{record.fdBak1,jdbcType=VARCHAR},
      fd_bak_2 = #{record.fdBak2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vas.sys.common.pojo.SysConfig" >
    update sys_config
    <set >
      <if test="fdLocked != null" >
        fd_locked = #{fdLocked,jdbcType=VARCHAR},
      </if>
      <if test="fdType != null" >
        fd_type = #{fdType,jdbcType=VARCHAR},
      </if>
      <if test="fdValue != null" >
        fd_value = #{fdValue,jdbcType=VARCHAR},
      </if>
      <if test="fdBak1 != null" >
        fd_bak_1 = #{fdBak1,jdbcType=VARCHAR},
      </if>
      <if test="fdBak2 != null" >
        fd_bak_2 = #{fdBak2,jdbcType=VARCHAR},
      </if>
    </set>
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vas.sys.common.pojo.SysConfig" >
    update sys_config
    set fd_type = #{fdType,jdbcType=VARCHAR},
      fd_value = #{fdValue,jdbcType=VARCHAR},
      fd_bak_1 = #{fdBak1,jdbcType=VARCHAR},
      fd_bak_2 = #{fdBak2,jdbcType=VARCHAR}
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </update>
  
   <insert id="insertInfoBatch" parameterType="java.util.List">  
	    insert into sys_config (fd_id, fd_type, fd_value,fd_bak_1)  
	    values  
	    <foreach collection="list" item="item" index="index" separator=",">  
	      (#{item.fdId}, #{item.fdType}, #{item.fdValue}, #{item.fdBak1})
	    </foreach>
	</insert>
  
   <select id="getValueByType" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT fd_value FROM sys_config where fd_type=#{fdType,jdbcType=VARCHAR} ORDER BY fd_bak_1 desc limit 1 
	</select>
</mapper>