<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vas.sys.common.mapper.SysConfigMapper" >
  <resultMap id="BaseResultMap" type="com.vas.sys.common.pojo.SysConfig" >
    <id column="fd_id" property="fdId" jdbcType="VARCHAR" />
    <result column="fd_type" property="fdType" jdbcType="VARCHAR" />
    <result column="fd_value" property="fdValue" jdbcType="VARCHAR" />
    <result column="fd_bak_1" property="fdBak1" jdbcType="VARCHAR" />
    <result column="fd_bak_2" property="fdBak2" jdbcType="VARCHAR" />
    <result column="doc_creator_id" jdbcType="VARCHAR" property="docCreatorId" />
    <result column="doc_alteror_id" jdbcType="VARCHAR" property="docAlterorId" />
    <result column="doc_create_time" jdbcType="TIMESTAMP" property="docCreateTime" />
    <result column="doc_alter_time" jdbcType="TIMESTAMP" property="docAlterTime" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fd_id, fd_type, fd_value, fd_bak_1, fd_bak_2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_config
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_config
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.vas.sys.common.pojo.SysConfig" >
    insert into sys_config (fd_id, fd_type, fd_value,
      fd_bak_1, fd_bak_2,doc_creator_id,doc_alteror_id,doc_create_time,doc_alter_time)
    values (#{fdId,jdbcType=VARCHAR}, #{fdType,jdbcType=VARCHAR}, #{fdValue,jdbcType=VARCHAR},
      #{fdBak1,jdbcType=VARCHAR}, #{fdBak2,jdbcType=VARCHAR}, #{docCreatorId,jdbcType=VARCHAR}, #{docAlterorId,jdbcType=VARCHAR},
      #{docCreateTime,jdbcType=VARCHAR}, #{docAlterTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vas.sys.common.pojo.SysConfig" >
    update sys_config
    <set >
      <if test="fdType != null" >
        fd_type = #{fdType,jdbcType=VARCHAR},
      </if>
      <if test="fdValue != null" >
        fd_value = #{fdValue,jdbcType=VARCHAR},
      </if>
      <if test="fdBak1 != null" >
        fd_bak_1 = #{fdBak1,jdbcType=VARCHAR},
      </if>
      <if test="fdBak2 != null" >
        fd_bak_2 = #{fdBak2,jdbcType=VARCHAR},
      </if>
      <if test="docCreatorId != null" >
        doc_creator_id = #{docCreatorId,jdbcType=VARCHAR},
      </if>
      <if test="docAlterorId != null" >
        doc_alteror_id = #{docAlterorId,jdbcType=VARCHAR},
      </if>
      <if test="docCreateTime != null" >
        doc_create_time = #{docCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="docAlterTime != null" >
        doc_alter_time = #{docAlterTime,jdbcType=VARCHAR},
      </if>
    </set>
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </update>

  <select id="getValueByType" parameterType="java.lang.String"
          resultType="java.lang.String">
		SELECT fd_value FROM sys_config where fd_type=#{fdType,jdbcType=VARCHAR} ORDER BY fd_bak_1 desc limit 1
	</select>
  
   <select id="selectConfigByType" parameterType="java.lang.String"
           resultMap="BaseResultMap">
		SELECT * FROM sys_config where fd_type=#{fdType,jdbcType=VARCHAR}
	</select>
</mapper>